<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Diolite</title>

    <script src="lib/ionic/release/js/ionic.bundle.min.js"></script>
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- compiled css output -->
    <link href="lib/ionic/release/css/ionic.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/root.css">

    <!-- Angular app -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <!-- Services -->
    <script src="app/login/login.services.js"></script>
    <script src="app/global/error.services.js"></script>
    <script src="app/global/connection.services.js"></script>
    <script src="app/features/sms.services.js"></script>
    <script src="app/features/nfc.services.js"></script>
    <script src="app/features/gps.services.js"></script>
    <script src="app/features/buzzer.services.js"></script>
    <script src="app/features/features.services.js"></script>
    <script src="app/features/accelerometer.services.js"></script>

    <!--Controllers-->
    <script src="app/login/login.controller.js"></script>
    <script src="app/boards/boards.controller.js"></script>
    <script src="app/settings/settings.controller.js"></script>
    <script src="app/features/features.controller.js"></script>
    <script src="app/features/newFeature.controller.js"></script>
    <script src="app/global/cloud.controller.js"></script>

    <!--Directives-->
    <script src="app/global/submit.directive.js"></script>
    <script src="app/features/directives/light.directive.js"></script>
    <script src="app/features/directives/gauge.directive.js"></script>
    <script src="app/features/directives/button.directive.js"></script>
    <script src="app/features/directives/slider.directive.js"></script>
    <script src="app/features/directives/switch.directive.js"></script>
    <script src="app/features/directives/feature.directive.js"></script>
    <script src="app/features/directives/msg-sender.directive.js"></script>
    <script src="app/features/directives/msg-receiver.directive.js"></script>
</head>
<body ng-app="app" animation="slide-left-right-ios7" class="platform-android platform-cordova platform-webview">
    <div style="">
        <div style="">
            <ion-nav-bar class="bar-stable" data-ng-controller="SettingsController">
                <ion-nav-back-button class="button-icon icon ion-ios-arrow-back">Back</ion-nav-back-button>
                <ion-nav-buttons side="secondary">
                    <button data-ng-hide="hidden" class="button button-icon icon ion-navicon" ng-click="show()"></button>
                </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </div>
    </div>
</body>
</html>
