<ion-view style="" title="Devices" data-on-tap="featuresVm.showDeleteBtns = false">
    <ion-content class="has-header" padding="true">
        <div class="list card" data-ng-repeat="feature in featuresVm.features | orderBy:'name'">
            <div data-on-hold="featuresVm.showDeleteBtns = true" class="item item-divider">
                <span data-ng-show="featuresVm.showDeleteBtns" data-on-tap="[featuresVm.deleteFeature(feature), $event.stopPropagation()]"><i class="ion-minus-circled item-delete touchzone"></i>&nbsp;&nbsp;</span>
                {{feature.name}}
            </div>
            <d-feature class="item item-body feature" data-feature="feature"></d-feature>
        </div>
        <ion-item class="error" style="" data-ng-show="featuresVm.features.length == 0">
            No feature found
        </ion-item>
        <button style="" class="button button-stable button-block" data-on-tap="featuresVm.newFeature()">Add</button>
    </ion-content>
</ion-view>