<form>
    <div class="item-input-inset message">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-cloud-upload"></i>
            <input type="text" placeholder="Text" data-ng-model="vm.text">
        </label>
        <a data-touch-submit class="button button-clear send-button" data-on-tap="vm.feature.send(vm.text)">
            Send
        </a>
    </div>
</form>