<ion-view style="" title="New Feature">
    <ion-content class="has-header" padding="true">
        <form style="" class="list" name="newFeatureForm" novalidate>
            <label class="item item-input" data-ng-class="(newFeatureForm.nameField.$dirty && !newFeatureForm.nameField.$valid)?'error':''">
                <input  data-ng-pattern="/^[a-zA-Z0-9_]+$/" type="text" name="nameField" data-ng-model="newFeatureVm.newFeature.name" placeholder="Name" required >
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Type
                </div>
                <select name="featureType" ng-model="newFeatureVm.newFeature.type" required data-ng-options="type for type in newFeatureVm.types | orderBy:type" >
                </select>
            </label>
            <ion-toggle style="" toggle-class="toggle-positive" data-ng-model="newFeatureVm.newFeature.global">Global</ion-toggle>
            <div style="height: 40px;" class="spacer"></div>
            <button type="submit" style="" data-ng-disabled="!newFeatureForm.$valid" data-on-tap="newFeatureVm.add()" class="button button-stable button-block" data-ng-class="(newFeatureForm.$valid)?'':'disabled'">Add</button>
        </form>
    </ion-content>
</ion-view>