<div class="item range">
  <i class="icon ion-minus-circled" data-on-tap="[ vm.value = 0, vm.change()]"></i>
  <input type="range" data-ng-model="vm.value" data-ng-mouseup="vm.change()" name="{{vm.label}}" min="0" max="100" >
  <i class="icon ion-plus-circled" data-on-tap="[ vm.value = 100, vm.change()]"></i>
</div>
